<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<nav>
  <a routerLink="login" routerLinkActive="active">Login</a>
  <a routerLink="aboutus" routerLinkActive="active">About</a>
  <a routerLink="clients/address" routerLinkActive="active">Address</a>
  <a routerLink="clients/person" routerLinkActive="active">Person</a>
  <a routerLink="clients/personslist" routerLinkActive="active">Persons Yaakov</a>
</nav>
<router-outlet></router-outlet>
