<h2>Client List {{dataLength}}</h2>
<button md-button (click)="testButton()">Test</button>

<md-paginator #paginator
              [length]="dataSource.dataLength"
              [pageIndex]="0"
              [pageSize]="25"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="pageEvent = getServerData($event)"
>
</md-paginator>
<div class="example-container mat-elevation-z8">
  <md-table #table [dataSource]="dataSource"
            selectable-rows="true"
            multi-selection="false"
            select-on-rowclick="true"
            clicked-row-callback="showit(x);"
            mdSort>
    <ng-container cdkColumnDef="client_id">
      <md-header-cell *cdkHeaderCellDef>Id</md-header-cell>
      <md-cell *cdkCellDef="let row">{{row.client_id}}
        <button md-raised-button (click)="openDialog(row)">Gerry</button>
      </md-cell>
    </ng-container>
    <ng-container cdkColumnDef="last_name">
      <md-header-cell *cdkHeaderCellDef>Last Name</md-header-cell>
      <md-cell *cdkCellDef="let row">{{row.last_name}}</md-cell>
    </ng-container>
    <ng-container cdkColumnDef="first_name">
      <md-header-cell *cdkHeaderCellDef>First Name</md-header-cell>
      <md-cell *cdkCellDef="let row">{{row.first_name}}</md-cell>
    </ng-container>
    <ng-container cdkColumnDef="recorded_on">
      <md-header-cell *cdkHeaderCellDef>Recorded On</md-header-cell>
      <md-cell *cdkCellDef="let row">{{row.recorded_on}}</md-cell>
    </ng-container>
    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
    <!--(click)="getPerson(row)"-->
  </md-table>

  <div class="example-no-results"
       [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No users found matching filter.
  </div>
</div>
