<h2>Client List {{dataSource.dataLength}}</h2>
<button md-button (click)="testButton()">Test</button>
<div style="border: 1px solid red">
  <router-outlet name="client"></router-outlet>
</div>

<div [style.display]="(showTable) ? 'block' : 'none' ">

<md-paginator #paginator
              [length]="dataSource.dataLength"
              [pageIndex]="0"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="pageEvent = getServerData($event)"
>
</md-paginator>
<div class="example-container mat-elevation-z8" fxLayout="row" fxLayoutGap="8px" fxLayoutAling="start stretch" style="margin: 8px; border: 2px solid crimson">
  <md-table #table [dataSource]="dataSource"
            selectable-rows="true"
            multi-selection="false"
            select-on-rowclick="true"
            clicked-row-callback="showPerson(x);"
            mdSort
            style="border: 2px solid saddlebrown"
            fxFlexFill

  >
    <ng-container cdkColumnDef="client_id">
      <md-header-cell *cdkHeaderCellDef fxFlex="5%">Id</md-header-cell>
      <md-cell *cdkCellDef="let row" fxFlex="5%">{{row.client_id}}
      </md-cell>
    </ng-container>
    <ng-container cdkColumnDef="last_name">
      <md-header-cell *cdkHeaderCellDef fxFlex>Last Name</md-header-cell>
      <!--<md-cell *cdkCellDef="let row" fxFlex="grow"><a [routerLink]="['/clients/person/'+row.client_id]">{{row.last_name}}</a></md-cell>-->
      <md-cell *cdkCellDef="let row" fxFlex="grow"><a [routerLink]="row.client_id">{{row.last_name}}</a></md-cell>
    </ng-container>
    <ng-container cdkColumnDef="first_name">
      <md-header-cell *cdkHeaderCellDef fxFlex>First Name</md-header-cell>
      <md-cell *cdkCellDef="let row" fxFlex="grow">{{row.first_name}}</md-cell>
    </ng-container>
    <ng-container cdkColumnDef="recorded_on">
      <md-header-cell *cdkHeaderCellDef fxFlex="15%">Recorded On</md-header-cell>
      <md-cell *cdkCellDef="let row" fxFlex="15%">{{row.recorded_on}}</md-cell>
    </ng-container>
    <ng-container cdkColumnDef="edit">
      <md-header-cell *cdkHeaderCellDef fxFlex="15%"  style="border: 2px solid green;" fxFlexAlign="end">Edit</md-header-cell>
      <md-cell *cdkCellDef="let row" (click)="openDialog(row)" fxFlex="15%" fxFlexAlign="end" fxFlexFill  style="border: 2px solid orange;">
        <button md-icon-button ><md-icon fxFlexAlign="start">edit</md-icon></button>
      </md-cell>
    </ng-container>
    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
    <!--(click)="getPerson(row)"-->
  </md-table>

  <div class="example-no-results"
       [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No users found matching filter.
  </div>
</div>
</div>
<!--<div [style.display]="(showPersonDisplay) ? 'block' : 'none' " fxLayout="row" fxLayoutAlign="start stretch" style="background-color: tan; border: 3px solid gold;">-->
  <!--<client-person [clientPerson]="clientPerson"></client-person>-->
<!--</div>-->
<!--<div [style.display]="(showPersonEdit) ? 'block' : 'none' " fxLayout="row" fxLayoutAlign="start stretch" style="border: 3px solid gold;">-->
  <!--<app-persons [person]="clientPerson"></app-persons>-->
<!--</div>-->
