<h1 md-dialog-title class="primary-color">{{title}} :{{client_id}}:</h1>
<form [formGroup]="clientAccountForm" (ngSubmit)="onSubmit()" class="form-class" fxLayout="column" fxLayoutAlign="center center" novalidate
      (keydown)="keyDownFunction($event)">
  <div fxFlex fxFlexFill>
    <md-dialog-content class="accent-color">
    <div *ngIf="false" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <md-form-field class="form-group" fxFlex>
        <input mdInput type="text" formControlName="account_id" placeholder="account_id">
        <md-error *ngIf="clientAccountForm.hasError('required')">clicc_id is <strong>required</strong>
        </md-error>
      </md-form-field>
    </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">{{client_id}}
        <md-select formControlName="cc_card_id" [(ngModel)]="ccCardSelectedValue" placeholder="Credit Card" fxFlex="60%">
          <md-option [value]="" disabled>Select a credit card</md-option>
          <md-option *ngFor="let ccCard of ccCards" [value]="ccCard.cc_card_id"> {{ccCard.card_name}}</md-option>
        </md-select>
        <!--<md-error *ngIf="clientAddressForm.hasError('required')">client_id is <strong>required</strong>-->
        <!--</md-error>-->
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">{{client_id}}
        <md-select formControlName="client_id" [(ngModel)]="selectedValue" placeholder="Client" fxFlex="60%" (ngModelChange)="clientChange()">
          <md-option [value]="" disabled>Select a client</md-option>
          <md-option *ngFor="let client of clientPersonList" [value]="client.client_id">
            {{ client.client_id }}] {{ client.first_name }} {{ client.middle_name }} {{ client.last_name }}
          </md-option>
        </md-select>
        <!--<md-error *ngIf="clientAddressForm.hasError('required')">client_id is <strong>required</strong>-->
        <!--</md-error>-->
      </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <md-form-field class="form-group" fxFlex>
        <input mdInput type="text" formControlName="name" placeholder="Card Holder Name">
        <md-error *ngIf="clientAccountForm.hasError('required')">name is <strong>required</strong>
        </md-error>
      </md-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <md-form-field class="form-group" fxFlex>
        <input mdInput type="text" formControlName="account" placeholder="Account">
        <md-error *ngIf="clientAccountForm.hasError('required')">Account is <strong>required</strong>
        </md-error>
      </md-form-field>
    </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <md-form-field class="form-group" fxFlex>
          <input mdInput type="text" formControlName="account_info" placeholder="Info">
          <md-error *ngIf="clientAccountForm.hasError('required')">ccnumber is <strong>required</strong>
          </md-error>
        </md-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <md-form-field class="form-group" fxFlex>
          <input mdInput type="text" formControlName="cc_number" placeholder="CC Number" (keyup.enter)="ccNumberChange()">
          <md-error *ngIf="clientAccountForm.hasError('required')">ccnumber is <strong>required</strong>
          </md-error>
        </md-form-field>
      </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <md-form-field class="form-group" fxFlex>
          <input mdInput [mdDatepicker]="picker" formControlName="expdate" placeholder="Expiration Date">
          <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
          <md-datepicker #picker></md-datepicker>
        </md-form-field>
      <md-datepicker ></md-datepicker>
        <!--<input mdInput type="text" formControlName="expdate" placeholder="Expiration Date">-->
        <!--<md-error *ngIf="clientAccountForm.hasError('required')">expdate is <strong>required</strong>-->
        <!--</md-error>-->
      <!--</md-form-field>-->
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <md-form-field class="form-group" fxFlex>
        <input mdInput type="text" formControlName="ccv" placeholder="CCV">
        <md-error *ngIf="clientAccountForm.hasError('required')">ccv is <strong>required</strong>
        </md-error>
      </md-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <md-form-field class="form-group" fxFlex>
        <input mdInput type="text" formControlName="cc_login" placeholder="Login">
        <md-error *ngIf="clientAccountForm.hasError('required')">cc_login is <strong>required</strong>
        </md-error>
      </md-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <md-form-field class="form-group" fxFlex>
        <input mdInput type="text" formControlName="cc_password" placeholder="Password">
        <md-error *ngIf="clientAccountForm.hasError('required')">cc_password is <strong>required</strong>
        </md-error>
      </md-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <md-form-field class="form-group" fxFlex>
        <input mdInput type="text" formControlName="cc_status" placeholder="Card status">
        <md-error *ngIf="clientAccountForm.hasError('required')">cc_status is <strong>required</strong>
        </md-error>
      </md-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <md-form-field class="form-group" fxFlex>
        <input mdInput type="text" formControlName="annual_fee" placeholder="Annual fee">
        <md-error *ngIf="clientAccountForm.hasError('required')">annual_fee is <strong>required</strong>
        </md-error>
      </md-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <md-form-field class="form-group" fxFlex>
        <input mdInput type="text" formControlName="credit_limit" placeholder="Credit limit">
        <md-error *ngIf="clientAccountForm.hasError('required')">credit_limit is <strong>required</strong>
        </md-error>
      </md-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <md-form-field class="form-group" fxFlex>
        <input mdInput type="text" formControlName="addtional_card" placeholder="Addtional Card Holder">
        <md-error *ngIf="clientAccountForm.hasError('required')">addtional_card is <strong>required</strong>
        </md-error>
      </md-form-field>
    </div>
    </md-dialog-content>
  </div>
  <div fxFlex="100%">
    <md-dialog-actions>
      <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="20px">
        <button fxFlex="18%" md-raised-button type="submit" color="primary" class="submitButton"><md-icon>done</md-icon>Submit</button>
        <button fxFlex="18%" md-raised-button (click)="onClickCancel()"><md-icon>cancel</md-icon> Cancel</button>
      </div>
    </md-dialog-actions>
  </div>
  <p>Form value: {{clientAccountForm.value | json }}</p>
  <p>Form status: {{ clientAccountForm.status | json }}</p>
</form>
