<h2 class="md-title" fxFlex="50%">{{title}}</h2>
<div fxLayout="column">
  <div fxFlex>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <div fxFlex><label>Address_id:</label>{{clientAddress.address_id}}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <div fxFlex><label>Client_id:</label>{{clientAddress.client_id}}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <div fxFlex><label>Address_type:</label>{{clientAddress.address_type}}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <div fxFlex><label>Address_1:</label>{{clientAddress.address_1}}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <div fxFlex><label>Address_2:</label>{{clientAddress.address_2}}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <div fxFlex><label>City:</label>{{clientAddress.city}}</div>
      <div fxFlex><label>State:</label>{{clientAddress.state}}</div>
      <div fxFlex><label>Zip:</label>{{clientAddress.zip}}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <div fxFlex><label>Country:</label>{{clientAddress.country}}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <div fxFlex><label>Valid_from:</label>{{clientAddress.valid_from}}</div>
      <div fxFlex><label>Valid_to:</label>{{clientAddress.valid_to}}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <div fxFlex fxFlexAlign="end" class="recorded_on"><label>Recorded_on:</label>{{clientAddress.recorded_on}}</div>
    </div>
  </div>
</div>
