/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.containerX {
  border: solid 1px #b6b6b6;
}

body {
  height:100%;
  min-height:100vh;
  margin: 0px;
}

.margin-left-right-50 {
  margin-left: 50px;
  margin-right: 50px;
}
